<a href="https://colab.research.google.com/github/ElenaNtm/Energy-price-predictions/blob/main/update_initial_file_HENEX(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Page: https://www.enexgroup.gr/el/web/guest/official-lists?p_p_id=com_liferay_asset_publisher_web_portlet_AssetPublisherPortlet_INSTANCE_v2cho0fcNMrv&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&_com_liferay_asset_publisher_web_portlet_AssetPublisherPortlet_INSTANCE_v2cho0fcNMrv_delta=12&p_r_p_resetCur=false&_com_liferay_asset_publisher_web_portlet_AssetPublisherPortlet_INSTANCE_v2cho0fcNMrv_cur=3

#Libraries

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
import pandas as pd

In [29]:
import requests
from datetime import datetime, timedelta

#Import old dataframe to enrich it

In [24]:
path = "/content/drive/MyDrive/base_exchange_data_HENEX.csv"
df = pd.read_csv(path)

In [25]:
df.head()

,Unnamed: 0,Trade Day,Instrument,Number of Orders,Max Price of Orders,Min Price of Orders,Average Price of Orders,Number of Quotes,Number of Trades,Average Price of Trades,Total Quantity of Trades,Start Prices,Fixing Prices,Open Interest
0,0,2022-09-01,GREBM0922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,605.13,605.13,14.0
1,1,2022-09-01,GREBM1022,2.0,545.0,542.0,543.500000,1.0,NaN,NaN,NaN,593.50,543.50,NaN
2,2,2022-09-01,GREBM1122,2.0,665.5,661.5,663.500000,1.0,NaN,NaN,NaN,713.50,663.50,NaN
3,3,2022-09-01,GREBQ422,6.0,640.0,632.0,636.166667,3.0,NaN,NaN,NaN,671.50,636.50,1.0
4,4,2022-09-01,GREBY23,14.0,549.0,520.0,535.785714,7.0,NaN,NaN,NaN,577.50,522.50,NaN

##Drop the column Unnamed: 0, it was created automatically when saving the initial file with no indexes

In [26]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

#Import new data manualy to concat to the old dataframe

In [27]:
# Provide the path to the XLSX file from page- right click on link and copy link address
xlsx_path = 'https://www.enexgroup.gr/el/c/document_library/get_file?uuid=a2f3fd27-5b95-8d41-d981-b0a4d2535222&groupId=20126'

# Read the XLSX file into a pandas DataFrame
df1 = pd.read_excel(xlsx_path, sheet_name = 'DOL_Derivatives')
#df1 = df1.set_index(['Trade Day','Instrument '])
df1.head()

,Trade Day,Instrument,Number of Orders,Max Price of Orders,Min Price of Orders,Average Price of Orders,Number of Quotes,Number of Trades,Average Price of Trades (VWAP),Total Quantity of Trades,Start Prices,Fixing Prices,Open Interest
0,2023-06-30,GREBM0723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109.50,109.50,14.0
1,2023-06-30,GREBM0823,5.0,118.0,115.0,116.300,1.0,NaN,NaN,NaN,113.50,116.50,9.0
2,2023-06-30,GREBM0923,8.0,124.0,118.0,121.125,4.0,NaN,NaN,NaN,106.75,106.75,5.0
3,2023-06-30,GREBQ124,1.0,161.0,161.0,161.000,NaN,NaN,NaN,NaN,156.00,156.00,NaN
4,2023-06-30,GREBQ224,1.0,133.0,133.0,133.000,NaN,NaN,NaN,NaN,157.50,157.50,NaN

#Import new data the automated way to concat to the old dataframe - Usefull for updating more than one days

In [30]:
base_url = "https://www.enexgroup.gr/documents/20126/314344/"

In [ ]:
#Set the dates that you are interested in importing, example:
start_date = datetime(2023, 7, 1)
end_date = datetime(2023, 5, 2) #past from that we have no information on the page
date_format = "%Y%m%d"

In [ ]:
current_date = start_date
while current_date <= end_date:
   # Check if the current day is not a Saturday (weekday() returns 5) and not a Sunday (weekday() returns 6)
    if current_date.weekday() not in [5, 6]:
        date_str = current_date.strftime(date_format)
        url = f"{base_url}{date_str}_DER_DOL_EN_v01.xlsx"

    #Add the url for the dataframe creation
    xlsx_path = 'url'
    # Read the XLSX file into a pandas DataFrame
    df1 = pd.read_excel(xlsx_path, sheet_name = 'DOL_Derivatives') #Specify the sheet, so that it does not import all the information from the excel file
    df = pd.concat([df, df1])

    # Increment to the next date
    current_date += timedelta(days=1)

#Concat all dataframes to one

In [28]:
df = pd.concat([df, df1])

#Save to Drive

In [20]:
path = '/content/drive/My Drive/base_exchange_data_HENEX.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df.to_csv(f)